<!-- main app container -->


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Shopping App</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

        </ul>
        <div *ngIf="this.authenticationService.isAuthenticated();">

            <app-shopping-cart></app-shopping-cart>
            <button class="btn btn-outline-warning" (click)="logout()" >Logout</button>


        </div>
    </div>
</nav>
<div class="container">

    <div class="col-sm-12">
        <alert></alert>

        <router-outlet></router-outlet>
    </div>
</div>

